<%- include('partials/header.ejs') %>

	<%- include('partials/navbar.ejs') %>

		<h1>Home Page</h1>
		<h3><%= 'hello world'.toUpperCase() %></h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam atque
			voluptate provident nobis quas debitis, error aspernatur modi distinctio
			illum aperiam ratione nostrum facere pariatur recusandae? Illo doloribus
			saepe nulla?
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora
			repellendus optio dolorum ea ab amet suscipit rem et ipsa nostrum ipsum
			voluptate dolores quam aliquid iure reprehenderit aspernatur, voluptates
			necessitatibus.
		</p>
		
<%- include('partials/footer.ejs') %>
